TriangleClient/Web References/ToolReference/TriangleTool.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://jacob.zaidi.nz/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://jacob.zaidi.nz/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://jacob.zaidi.nz/">
      <s:element name="Check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckResult" type="tns:ArrayOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBoolean">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="boolean" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Error">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErrorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageCount">
        <s:complexType />
      </s:element>
      <s:element name="GetPageCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPageCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPageResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckSoapIn">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="CheckSoapOut">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="ErrorSoapIn">
    <wsdl:part name="parameters" element="tns:Error" />
  </wsdl:message>
  <wsdl:message name="ErrorSoapOut">
    <wsdl:part name="parameters" element="tns:ErrorResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetPageCount" />
  </wsdl:message>
  <wsdl:message name="GetPageCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageCountResponse" />
  </wsdl:message>
  <wsdl:message name="GetPageSoapIn">
    <wsdl:part name="parameters" element="tns:GetPage" />
  </wsdl:message>
  <wsdl:message name="GetPageSoapOut">
    <wsdl:part name="parameters" element="tns:GetPageResponse" />
  </wsdl:message>
  <wsdl:portType name="TriangleToolSoap">
    <wsdl:operation name="Check">
      <wsdl:input message="tns:CheckSoapIn" />
      <wsdl:output message="tns:CheckSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Error">
      <wsdl:input message="tns:ErrorSoapIn" />
      <wsdl:output message="tns:ErrorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPageCount">
      <wsdl:input message="tns:GetPageCountSoapIn" />
      <wsdl:output message="tns:GetPageCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <wsdl:input message="tns:GetPageSoapIn" />
      <wsdl:output message="tns:GetPageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TriangleToolSoap" type="tns:TriangleToolSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check">
      <soap:operation soapAction="https://jacob.zaidi.nz/Check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Error">
      <soap:operation soapAction="https://jacob.zaidi.nz/Error" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageCount">
      <soap:operation soapAction="https://jacob.zaidi.nz/GetPageCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap:operation soapAction="https://jacob.zaidi.nz/GetPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TriangleToolSoap12" type="tns:TriangleToolSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Check">
      <soap12:operation soapAction="https://jacob.zaidi.nz/Check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Error">
      <soap12:operation soapAction="https://jacob.zaidi.nz/Error" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPageCount">
      <soap12:operation soapAction="https://jacob.zaidi.nz/GetPageCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPage">
      <soap12:operation soapAction="https://jacob.zaidi.nz/GetPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TriangleTool">
    <wsdl:port name="TriangleToolSoap" binding="tns:TriangleToolSoap">
      <soap:address location="http://localhost:53479/TriangleTool.asmx" />
    </wsdl:port>
    <wsdl:port name="TriangleToolSoap12" binding="tns:TriangleToolSoap12">
      <soap12:address location="http://localhost:53479/TriangleTool.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>